<% (layout('/layout/boilerplate')) %>
<div class="container recently-added">
  <div class="row">
    <div class="col-lg-9">
      <h2>Edit this publication</h2>
      <div class="content-form">
        <form
          action="/calmconsultdocuments/<%=document.id%>/edit?_method=PUT"
          method="POST"
          class="needs-validation edit-form"
          novalidate
        >
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              value="<%=document.title%>"
              name="title"
              class="form-control"
              id="title"
              placeholder="Humans and the new technology"
              required
            />
          </div>
          <div class="form-group">
            <label for="authors">author(s)</label>
            <input
              type="text"
              value="<%=document.authors%>"
              name="authors"
              class="form-control"
              id="authors"
              placeholder="Nakamatte Edith, Kiberu samuel"
              required
            />
          </div>
          <div class="form-group">
            <label for="publishDate">Date of Publication</label>
            <input
              value="<%=document.publishDate%> "
              type="text"
              name="publishDate"
              class="form-control"
              id="publishDate"
              placeholder="2020-04"
            />
          </div>

          <div class="form-group">
            <label for="collections">Collection</label>
            <input
              type="text"
              value="<%=document.collections%>"
              name="collections"
              class="form-control"
              id="collections"
              placeholder="Theses and Dissertations"
              required
            />
          </div>
          <div class="form-group">
            <label for="subject">subject</label>
            <input
              type="text"
              name="subject"
              value="<%=document.subject%>"
              class="form-control"
              id="subject"
              placeholder="Child abuse"
              required
            />
          </div>
          <div class="form-group">
            <label for="abstract">abstract</label>
            <textarea
              name="abstract"
              class="form-control"
              id="abstract"
              rows="5"
              required
            >
<%=document.abstract%> </textarea
            >
          </div>

          <div class="form-group">
            <label for="accessRestriction">Access restriction</label>
            <select
              name="accessRestriction"
              multiple
              class="form-control"
              id="accessRestriction"
              value="<%=document.accessRestriction%> "
              required
            >
              <%if(document.accessRestriction==='public'){%>
              <option selected value="public">Public</option>
              <option value="private">Private</option>
              <%}else{%>
              <option value="public">Public</option>
              <option selected value="private">Private</option>
              <%}%>
            </select>
            <div class="invalid-feedback">please choose access level.</div>
          </div>
          <!-- <div class="form-group custom-file mb-5">
            <input
              name="uploadedDocument"
              type="file"
              class="custom-file-input doc1"
              id="uploadContent"
            />
            <label class="custom-file-label" for="uploadContent"
              ><%=document.contentKey%>
            </label>
            <div class="invalid-feedback">
              Choose a pdf file of from computer
            </div>
            <div class="valid-feedback">Looks good!</div>
          </div> -->
          <div class="col-md-3 my-3">
            <button class="btn btn-primary calm-button" type="submit">
              Update details
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <%- include('../partials/sidemenu') %>
    </div>
  </div>
</div>
